# Backup files
*~
\#*

#Latex-related stuff
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# amsthm
*.thm

# changes
*.soc

# comment
*.cut

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind

# svg
svg-inkscape/

# pythontex
*.pytxcode
pythontex-files-*/

# xcolor
*.xcp

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

